*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar{
    background-color: #00658a; 
}
.nav-item{
    padding-right: 1rem;
    text-align: center;
}
.nav-link{
    color: white !important;
}
#carouselExample{
    background-image: url(https://media.istockphoto.com/id/1423259276/es/foto/fondo-abstracto-azul-negro-degradado-de-color-mate-fondo-oscuro-y-elegante-con-espacio-para-el.jpg?s=612x612&w=0&k=20&c=XOV20B9KQWdAv8MJEjzoFuQ7bznN0vvCFzaEqu5J1q0=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;

}
.carousel-item a{
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.carousel-item a:hover{
    color: #ff0000;
}
#estoy{
    border: 2px solid red;
    border-radius: 20%;
    background-color: rgba(255, 0, 0, 0.253);
}
#estoy:hover{
    background-color: black;
    color: white;
}

.carousel{
    height: 25vh;
    display: flex;
    align-items: center;
}
.carousel-inner{
    color: black !important;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.carousel-item{
    width: auto !important;
    margin: 0 !important;
}
.carousel-item h1{
    font-size: 5rem;
}
h1{
    width: 40vw;
    text-align: center;
}
.divCheckBoxBuscador .container-fluid{
    background-color: #00658a; 
    color: white;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkBox{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.divInputLabel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .3rem;
}
#search{
    width: 20vw;
    border-radius: 1rem;
}
.buscador{
    width: 25vw;
}
.buscador button{
    width: 2rem;
    border-radius: 1.5rem;
}
main{
    background-image: url(https://media.istockphoto.com/id/1423259276/es/foto/fondo-abstracto-azul-negro-degradado-de-color-mate-fondo-oscuro-y-elegante-con-espacio-para-el.jpg?s=612x612&w=0&k=20&c=XOV20B9KQWdAv8MJEjzoFuQ7bznN0vvCFzaEqu5J1q0=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
}

.noHayCardH2{
    color: white;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-body{
    background-color: #cfcfcd;
}
.btn{
    background-color: #00658a !important;
}
#imgCards{
    height: 30vh;
    object-fit: cover;
}
.div-precioBoton{
    display: flex;
    justify-content: space-between;
}
.mainFormulario{
    height: 70vh;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    font-size: 24px;
}
.formulario{
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
form input{
    width: 60rem;
}
.fieldForm{
    display: flex;
    flex-direction: column;
}
#mensaje{
    height: 7rem;
}
#submit{
    width: 5rem;
    font-size: 18px;
    border-radius: 2rem;
}
.mainStats{
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border: 3px solid rgb(255, 255, 255);
    width: 80vw;
    text-align: center;
    font-size: 20px;
    color: white;
    border-collapse: collapse;
}
td{
    border: 1px solid rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255);
}
.td-modificados{
    background-color: #094961;
    font-weight: bold;
}
th{
    background-color: #00658a; 
    font-size: 1.3rem;
}
footer{
    background-color: #00658a;
    height: 8vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
span{
    color: red;
}
.social{
    display: flex;
    gap: 1rem;
}
.divDetails{
    border: 1rem inset white;
    height: 60vh;
    width: 80vw;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.divDetails img{
    width: 30rem;
    height: 20rem;
    border: 2px solid white;
}
.divTexto{
    border: 3px solid rgb(255, 255, 255);
    background-color: #00658a;
    height: 40vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.divTexto h1{
    text-align: center;

}


@media only screen and (min-width: 320px) and (max-width: 767px){

    .mainDetails{
        height: 110vh;
    }
    .divDetails{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .divDetails img{
        width: 80vw;
        height: 40vh;
    }
    .divTexto{
        width: 80vw;
        display: flex;
        align-items: center;
    }
    .divTexto h5{
        font-size: 1rem;
    }
    .divTexto h1{
        font-size: 1.5rem !important;
        text-align: center;
    }
    h1{
        font-size: 1.5rem !important;
        width: 100vw;
    }
    .mainStats{
        height: 75vh !important;
    }
    footer{
        height: 15vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .mainFormulario{
        display: flex;
        flex-direction: column;
    }
    .formulario{
        width: 100vw;
    }
    form{
        height: 80vh;
        font-size: 14px;
        display: flex;
        align-items: center;
    }
    form input{
        width: 19rem;
    }
    #mensaje{
        height: 5rem;
    }
    .divCheckBoxBuscador .container-fluid{
        height: 25vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .checkBox{
        margin-top: 1rem;
        width: 100vw;
    }
    .buscador{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #search{
        width: 15rem;
    }
    .mainStats{
        height: 60vh;
    }
    table{
        font-size: 14px;
        width: 100%;
    }
    table th{
        font-size: 16px;
    }
    .navbar{
        font-size: .8rem;
    }
    .nav-item{
        padding-right: .2rem;
    }
    nav .container-fluid{
        width: 100vw;
        display: flex;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

    .divCheckBoxBuscador .container-fluid{
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .checkBox{
        justify-content: center;
    }
    h1{
        font-size: 2.5rem !important;
        width: 100vw;
    }

    .mainDetails .card{
        width: 60%;
    }
    .divDetails{
        height: 120vh;
        display: flex;
        flex-direction: column;
    }
    .divDetails img{
        width: 80vw;
        height: 60vh;
    }
    .divTexto{
        width: 50vw;
        display: flex;
        align-items: center;
    }
    .divTexto h5{
        font-size: 1rem;
    }
    .mainFormulario{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    form{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form input{
        width: 40rem;
    }
    table{
        width: 100%;
        font-size: 18px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1050px){

    .divCheckBoxBuscador .container-fluid{
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .mainDetails .card{
        width: 35%;
    }
}
